.fullWidth{
  width: 100%;
}
.button{
  padding: 6px 16px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #888888;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  background-color:  var(--primaryBackgroundColor);
  color: black;
  text-decoration: none;
}
.button:hover{
  background: #D0D0D0	;
}
.button:active{
  background: #888888		;
}

.buttonRed{
  background-color:#dc143c;
  border-bottom: 1px solid #5d091a;
  color: #fff;
}
.buttonRed:hover{
  background-color:#bb1133  ;
}
.buttonRed:active{
  background-color:#f48aa0;
}
